@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css"/>
    <title>Index</title>
</head>
<body>
    <div class="headContainer">
        <div class="container">
            <h1><img src="~/Content/images/logo.png" alt="logo"/>SocialSpy</h1>
            <p>Find out about your friends a little bit more!</p>
        </div>
        <form class="form-search">
            <img src="~/Content/images/VKicon.jpg" alt="logo"/>
            <input id="queryField" type="text" class="input-medium search-query" placeholder="input ID or name">
            <button id="search" type="submit" class="btn btn-info">Search</button>
            <img src="~/Content/images/FBicon.jpg" alt="logo"/>
        </form>
    </div>
    <script type="text/javascript">
         $(document).ready(function () {
             $("#search").click(function (event) {
                 var serviceUrl = '@Url.Action("GetUserInfo", "Home")';
                 var query = $("#queryField").val();
                 event.preventDefault();
                 $.post(serviceUrl, { request: query }).success(function (data) {
                     alert(data);
                 });
             });
         });
    </script>
</body>
</html>
