@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jQuery.tmpl.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/Content/MainPage.css"/>
    
    <script type="text/javascript" src="~/Scripts/flot/jquery.flot.js"></script>
	<script type="text/javascript" src="~/Scripts/flot/jquery.flot.pie.js"></script>
    
    <title>Index</title>
    <script >
        var friendViewMarkup = "<div>" +
            "<img style='display: inline-block;width: 50px; height: 50px;' src=${photo_50} alt='DELETED'/>" +
                "<p style='display: inline-block;'>${first_name} ${last_name}</p>" +
            "</div>";
        $.template("friendViewTemplate", friendViewMarkup);
        var userViewMarkup = "<div class='caption'>" +
            "<h4>${first_name} ${last_name}</h4>" +
                "<img id='image' src=${photo_200_orig} style='width: auto; height: auto;' alt='DELETED' />" +
            "</div>";
        $.template("userViewTemplate", userViewMarkup);
    </script>
</head>
    <body>
        <div class="headContainer">
            <div class="container">
                <h1><img src="~/Content/images/logo.png" alt="logo"/>SocialSpy</h1>
                <p>Find out about your friends a little bit more!</p>
            </div>
            <form class="form-search">
                <img src="~/Content/images/VKicon.jpg" alt="logo"/>
                <input id="queryField" type="text" class="input-medium search-query" placeholder="input ID or name">
                <button id="search" type="submit" class="btn btn-info">
                    <img id="loading" src="~/Content/images/loading.gif" alt="loading"/>
                    <span class="ui-button-text">Search</span>
                </button>
                <img src="~/Content/images/FBicon.jpg" alt="logo"/>
            </form>
        </div>
        <div id ="info" class="row-fluid">
            <div class="span4">
                <h2>User</h2>
                <div id ="userInfo">
                
                </div>
            </div>
            <div class="span4">
                <h2>Friends</h2>
                <div id ="friendsInfo">
                
                </div>
            </div>
            <div class="span4">
                <h2>Statistic</h2>
                <div id ="statistics">
                    <p>Coming soon!</p>

                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p id="connectionString"></p>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#loading").hide();
                $("#info").hide();
                $(document).ajaxStart(onAjaxStart);
                $(document).ajaxStop(onAjaxStop);
                
                function onAjaxStart() {
                    $("#loading").show();
                    $("#search").attr("disabled", true);
                    $("#search span").text("Searching");
                    $("#info").hide();
                }

                function onAjaxStop() {
                    $("#loading").hide();
                    $("#search").attr("disabled", false);
                    $("#search span").text("Search");
                    $("#info").show();
                }

                var userInfoHub = $.connection.vkUserInfoHub;
                userInfoHub.client.viewUserInfo = function (data) {
                    var userInfo = jQuery.parseJSON(data);
                    $.tmpl("userViewTemplate", userInfo).appendTo("#friendsInfo");
                };
                
                userInfoHub.client.viewFriendsInfo = function (data) {
                    var friendInfo = jQuery.parseJSON(data);
                    $.tmpl("friendViewTemplate", friendInfo).appendTo("#friendsInfo");
                };
                
                userInfoHub.client.viewUserStatistic = function (data) {
                    $("#statistics").append(data);
                };
                
                $.connection.hub.start().done(function () {
                    console.info('SignalR connected');
                    $('#search').click(function (event) {
                        event.preventDefault();
                        userInfoHub.server.getUserInfo($('#queryField').val());
                        userInfoHub.server.getFriendsInfo($('#queryField').val());
                        
                    });
                });
            });
        </script>
    </body>
</html>
